{
    "extends": ["react-app", "prettier"],
    "plugins": ["prettier", "react"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "rules": {
            "prettier/prettier": ["error"]
        }
    }
}
